.login_content {
  width: 1200px;
  margin: auto; }

.content_wrap1 {
  margin-top: 20px;
  margin-left: 20px;
  width: 1180px;
  height: 600px; }

.wrap1_img2 {
  width: 615px;
  height: 600px; }

.wrap1_login {
  height: 457px;
  width: 360px;
  border: 1px solid #eaeaea;
  margin-right: 100px;
  margin-top: 75px; }
